h4 {
	margin: 0;
}
#about, #product {
  padding: 10px;
}

p {
	text-align: justify;
}

.page-footer {
	margin-top: 0 !important;
}

.wrapper-header {
	margin-bottom: 0 !important;
}

header {
	background-color: #388E3C;
}

ul>li {
	display: inline-block;
	padding: 5px;
}

/*
* Estilos Logo
*/
.divlogo img {
	height: 100px;
	width: 100px;
}

.logo > .divlogo, h1 {
	display: inline-block;
	vertical-align: middle;
}

.logo {
	*height: 100px;
	*width: 100px;
}

.logo {
	height: inherit;
	padding: 5px!important;
}

.logo > h1 {
	color: #fff;
	padding-left: 10px;
}

.divlogo {
	background-color: #fff;
	border-radius: 150px;
	display: inline-block;
	padding: 5px!important;
	width: 100px!important;
	-webkit-border-radius: 150px; 
	-moz-border-radius: 150px; 
	-webkit-box-shadow: 1px 1px 10px #484848;
	box-sizing: initial;
}


/*
* Estilos 
*/
.product, .about {
	*background: #C8E6C9;
	background-color: #FCFCFC;
}

.wrapper-header > .logo, .wrapper-nav {
	display: inline-block;
	vertical-align: middle;
}

.wrapper-nav >ul {
	margin-left: 150px;
}

label {
	color: #fff !important;
}

ul.indicators {
	background-color: #ee6e73;
	border-radius: 0 0 0.5em 0.5em;
	padding: 10px;
}

.ir-arriba {
	display:none;
	padding:10px;
	background:#388E3C;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.flecha-up {
    width:0px;
    height:0px;
    border-left:25px solid transparent; /* izquierda flecha */
    border-right:25px solid transparent; /* derecha flecha */
    border-bottom:25px solid #fff; /* base flecha y color*/
    font-size:0px;
    line-height:0px;
 }

.msg{
	color: #fff;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	position: absolute;
	right: -155px;
	text-transform: uppercase;
	min-width: 121px;
}
.msg_ok{
	background: #589D05;
}
.msg_error{
	background: #FF0000;
}


/*
*	Estilos responsive
*/
@media only screen and (max-width: 992px) {
	.hide-on-med-and-down {
		display: none !important;
	}
	.icon-menu {
		display: none !important;
	}
}

@media screen and (max-width: 601px) { 
	.hide-on-small-and-down {
		display: none !important;
	}
	.icon-menu {
		display: block !important;
	}

	.logo > h1 {
		display: none;
	}

	.divlogo {
		margin-left: 100px;
	}
}